.home-copy-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: space-between;
}


.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(#6d28d9, #6d28d9);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .4s ease-in-out;
}

.home-section-nav .home-section:hover .link-underline {
  background-size: 100% 3px;
  background-position: 0 100%
}

/* .link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%
} */

.home-section-nav .home-section:hover .section__icon {
  fill: #6d28d9;
}

.card-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}