.work-list {
  list-style: none;
}

.work-list__row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.work-list__row > * {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column wrap;
}

.work-list__row > :first-child {
  flex-basis: 40ch;
}

.work-list img {
  width: 100%;
  max-width: 12rem;
  max-height: 16rem;
  height: auto;
  margin: auto;
}
