<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
     <link rel="stylesheet" type="text/css" href="/assets/main.css" />
  </head>
  <body>
    {% include "../components/navigation.njk" %}
    <div class="box">
      <main class="center mt-8">
        {{ content | safe }}
      </main>
    </div>
    <script src="/assets/main.js"></script>
  </body>
</html>
