---
layout: layouts/base.njk
---

<div class="stack">
  <h1 class="text-3xl">{{ title }}</h1>
  <p>{{ page.date | readableDate }}</p>
  <article class="stack-small">{{ content | safe }}</article>
</div>
