---
title: Contact
layout: layouts/base.njk
permalink: /contact/
eleventyNavigation:
  key: Contact
  order: 3
---

<ul>
  {% for item in contact.items %}
    <li>{{ item.emoji }} <a href="{{ item.link }}">{{ item.label }}</a></li>
  {% endfor %}
</ul>
