---
title: Contact
layout: layouts/base.njk
permalink: /contact/
eleventyNavigation:
  key: Contact
  order: 3
---
<h1 class="text-3xl mb-8">Contact Me</h1>

<ul class="stack-small">
  {% for item in contact.items %}
    <li>{{ item.emoji }} <a href="{{ item.link }}">{{ item.label }}</a></li>
  {% endfor %}
</ul>
