---
title: Jackson Hammond
layout: layouts/base.njk
---

<h1 class="text-3xl mb-8">Hi 👋, I'm Jackson Hammond</h1>
<div class="stack" style="--stack-gap: 0.25rem;">
  <p>This is a website about my work as a web developer.</p>
  <p>This website will not track you.</p>
  <p>I do not and will not work for surveillance capitalists.</p>
</div>
